@font-face {
  font-family: 'minimal';
  src:  url('fonts/minimal.eot?p02hxe');
  src:  url('fonts/minimal.eot?p02hxe#iefix') format('embedded-opentype'),
    url('fonts/minimal.ttf?p02hxe') format('truetype'),
    url('fonts/minimal.woff?p02hxe') format('woff'),
    url('fonts/minimal.svg?p02hxe#minimal') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'minimal' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cog2:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-gift1:before {
  content: "\f06b";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-upload1:before {
  content: "\f093";
}
.icon-phone3:before {
  content: "\f095";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-twitter1:before {
  content: "\f099";
}
.icon-facebook1:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-github1:before {
  content: "\f09b";
}
.icon-bullhorn:before {
  content: "\f0a1";
}
.icon-pinterest1:before {
  content: "\f0d2";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus-square:before {
  content: "\f0d4";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-cloud-download2:before {
  content: "\f0ed";
}
.icon-cloud-upload2:before {
  content: "\f0ee";
}
.icon-html51:before {
  content: "\f13b";
}
.icon-css31:before {
  content: "\f13c";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube1:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-dropbox1:before {
  content: "\f16b";
}
.icon-stack-overflow:before {
  content: "\f16c";
}
.icon-instagram1:before {
  content: "\f16d";
}
.icon-tumblr1:before {
  content: "\f173";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-apple1:before {
  content: "\f179";
}
.icon-windows1:before {
  content: "\f17a";
}
.icon-android1:before {
  content: "\f17b";
}
.icon-linux:before {
  content: "\f17c";
}
.icon-skype1:before {
  content: "\f17e";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-google1:before {
  content: "\f1a0";
}
.icon-git-square:before {
  content: "\f1d2";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-alternate_email:before {
  content: "\e98d";
}
.icon-3d_rotation:before {
  content: "\e84d";
}
.icon-ac_unit:before {
  content: "\eb3b";
}
.icon-alarm1:before {
  content: "\e855";
}
.icon-access_alarms:before {
  content: "\e191";
}
.icon-schedule:before {
  content: "\e8b5";
}
.icon-accessibility:before {
  content: "\e84e";
}
.icon-accessible:before {
  content: "\e99d";
}
.icon-account_balance:before {
  content: "\e84f";
}
.icon-account_balance_wallet:before {
  content: "\e850";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-adb:before {
  content: "\e60e";
}
.icon-add1:before {
  content: "\e145";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_alert:before {
  content: "\e007";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-add_location:before {
  content: "\e567";
}
.icon-add_shopping_cart:before {
  content: "\e854";
}
.icon-queue:before {
  content: "\e03e";
}
.icon-add_to_queue:before {
  content: "\e05d";
}
.icon-adjust:before {
  content: "\e39e";
}
.icon-airline_seat_flat:before {
  content: "\e630";
}
.icon-airline_seat_flat_angled:before {
  content: "\e631";
}
.icon-airline_seat_individual_suite:before {
  content: "\e632";
}
.icon-airline_seat_legroom_extra:before {
  content: "\e633";
}
.icon-airline_seat_legroom_normal:before {
  content: "\e634";
}
.icon-airline_seat_legroom_reduced:before {
  content: "\e635";
}
.icon-airline_seat_recline_extra:before {
  content: "\e636";
}
.icon-airline_seat_recline_normal:before {
  content: "\e637";
}
.icon-flight:before {
  content: "\e539";
}
.icon-airplanemode_inactive:before {
  content: "\e194";
}
.icon-airplay:before {
  content: "\e056";
}
.icon-airport_shuttle:before {
  content: "\eb3c";
}
.icon-alarm_off:before {
  content: "\e857";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-album:before {
  content: "\e019";
}
.icon-all_inclusive:before {
  content: "\eb3d";
}
.icon-all_out:before {
  content: "\e99e";
}
.icon-android2:before {
  content: "\e859";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-archive:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-art_track:before {
  content: "\e060";
}
.icon-aspect_ratio:before {
  content: "\e85b";
}
.icon-poll:before {
  content: "\e801";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-assignment_ind:before {
  content: "\e85e";
}
.icon-assignment_late:before {
  content: "\e85f";
}
.icon-assignment_return:before {
  content: "\e860";
}
.icon-assignment_returned:before {
  content: "\e861";
}
.icon-assignment_turned_in:before {
  content: "\e862";
}
.icon-assistant:before {
  content: "\e39f";
}
.icon-flag1:before {
  content: "\e153";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-attachment2:before {
  content: "\e2bc";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-av_timer:before {
  content: "\e01c";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-battery_alert:before {
  content: "\e19c";
}
.icon-battery_charging_full:before {
  content: "\e1a3";
}
.icon-battery_std:before {
  content: "\e1a5";
}
.icon-battery_unknown:before {
  content: "\e1a6";
}
.icon-beach_access:before {
  content: "\eb3e";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-block:before {
  content: "\e14b";
}
.icon-bluetooth:before {
  content: "\e1a7";
}
.icon-bluetooth_searching:before {
  content: "\e1aa";
}
.icon-bluetooth_connected:before {
  content: "\e1a8";
}
.icon-bluetooth_disabled:before {
  content: "\e1a9";
}
.icon-blur_circular:before {
  content: "\e3a2";
}
.icon-blur_linear:before {
  content: "\e3a3";
}
.icon-blur_off:before {
  content: "\e3a4";
}
.icon-blur_on:before {
  content: "\e3a5";
}
.icon-class:before {
  content: "\e86e";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-border_all:before {
  content: "\e228";
}
.icon-border_bottom:before {
  content: "\e229";
}
.icon-border_clear:before {
  content: "\e22a";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-border_horizontal:before {
  content: "\e22c";
}
.icon-border_inner:before {
  content: "\e22d";
}
.icon-border_left:before {
  content: "\e22e";
}
.icon-border_outer:before {
  content: "\e22f";
}
.icon-border_right:before {
  content: "\e230";
}
.icon-border_style:before {
  content: "\e231";
}
.icon-border_top:before {
  content: "\e232";
}
.icon-border_vertical:before {
  content: "\e233";
}
.icon-branding_watermark:before {
  content: "\e06b";
}
.icon-brightness_1:before {
  content: "\e3a6";
}
.icon-brightness_2:before {
  content: "\e3a7";
}
.icon-brightness_3:before {
  content: "\e3a8";
}
.icon-brightness_4:before {
  content: "\e3a9";
}
.icon-brightness_low:before {
  content: "\e1ad";
}
.icon-brightness_medium:before {
  content: "\e1ae";
}
.icon-brightness_high:before {
  content: "\e1ac";
}
.icon-brightness_auto:before {
  content: "\e1ab";
}
.icon-broken_image:before {
  content: "\e3ad";
}
.icon-brush1:before {
  content: "\e3ae";
}
.icon-bubble_chart:before {
  content: "\e6dd";
}
.icon-bug_report:before {
  content: "\e868";
}
.icon-build:before {
  content: "\e869";
}
.icon-burst_mode:before {
  content: "\e43c";
}
.icon-domain:before {
  content: "\e7ee";
}
.icon-business_center:before {
  content: "\eb3f";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-cake1:before {
  content: "\e7e9";
}
.icon-phone2:before {
  content: "\e0cd";
}
.icon-call_end:before {
  content: "\e0b1";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-merge_type:before {
  content: "\e252";
}
.icon-call_missed:before {
  content: "\e0b4";
}
.icon-call_missed_outgoing:before {
  content: "\e0e4";
}
.icon-call_received:before {
  content: "\e0b5";
}
.icon-call_split:before {
  content: "\e0b6";
}
.icon-call_to_action:before {
  content: "\e06c";
}
.icon-camera1:before {
  content: "\e3af";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-camera_enhance:before {
  content: "\e8fc";
}
.icon-camera_front:before {
  content: "\e3b1";
}
.icon-camera_rear:before {
  content: "\e3b2";
}
.icon-camera_roll:before {
  content: "\e3b3";
}
.icon-cancel2:before {
  content: "\e5c9";
}
.icon-redeem:before {
  content: "\e8b1";
}
.icon-card_membership:before {
  content: "\e8f7";
}
.icon-card_travel:before {
  content: "\e8f8";
}
.icon-casino:before {
  content: "\eb40";
}
.icon-cast:before {
  content: "\e307";
}
.icon-cast_connected:before {
  content: "\e308";
}
.icon-center_focus_strong:before {
  content: "\e3b4";
}
.icon-center_focus_weak:before {
  content: "\e3b5";
}
.icon-change_history:before {
  content: "\e86b";
}
.icon-chat2:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-child_care:before {
  content: "\eb41";
}
.icon-child_friendly:before {
  content: "\eb42";
}
.icon-chrome_reader_mode:before {
  content: "\e86d";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-clear_all:before {
  content: "\e0b8";
}
.icon-closed_caption:before {
  content: "\e01e";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_circle:before {
  content: "\e2be";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-code:before {
  content: "\e86f";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-collections_bookmark:before {
  content: "\e431";
}
.icon-palette:before {
  content: "\e40a";
}
.icon-colorize:before {
  content: "\e3b8";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-compare:before {
  content: "\e3b9";
}
.icon-compare_arrows:before {
  content: "\e99f";
}
.icon-laptop1:before {
  content: "\e31e";
}
.icon-confirmation_number:before {
  content: "\e638";
}
.icon-contact_mail:before {
  content: "\e0d0";
}
.icon-contact_phone:before {
  content: "\e0cf";
}
.icon-contacts:before {
  content: "\e0ba";
}
.icon-content_copy:before {
  content: "\e14d";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-content_paste:before {
  content: "\e14f";
}
.icon-control_point_duplicate:before {
  content: "\e3bb";
}
.icon-copyright:before {
  content: "\e9a7";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-create_new_folder:before {
  content: "\e2cc";
}
.icon-payment:before {
  content: "\e8a1";
}
.icon-crop:before {
  content: "\e3be";
}
.icon-crop_16_9:before {
  content: "\e3bc";
}
.icon-crop_3_2:before {
  content: "\e3bd";
}
.icon-crop_landscape:before {
  content: "\e3c3";
}
.icon-crop_7_5:before {
  content: "\e3c0";
}
.icon-crop_din:before {
  content: "\e3c1";
}
.icon-crop_free:before {
  content: "\e3c2";
}
.icon-crop_original:before {
  content: "\e3c4";
}
.icon-crop_portrait:before {
  content: "\e3c5";
}
.icon-crop_rotate:before {
  content: "\e437";
}
.icon-crop_square:before {
  content: "\e3c6";
}
.icon-dashboard:before {
  content: "\e871";
}
.icon-data_usage:before {
  content: "\e1af";
}
.icon-date_range:before {
  content: "\e9a8";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e9af";
}
.icon-delete_sweep:before {
  content: "\e16c";
}
.icon-description:before {
  content: "\e873";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-desktop_windows:before {
  content: "\e30c";
}
.icon-details:before {
  content: "\e3c8";
}
.icon-developer_board:before {
  content: "\e30d";
}
.icon-developer_mode:before {
  content: "\e1b0";
}
.icon-device_hub:before {
  content: "\e335";
}
.icon-phonelink:before {
  content: "\e326";
}
.icon-devices_other:before {
  content: "\e337";
}
.icon-dialer_sip:before {
  content: "\e0bb";
}
.icon-dialpad:before {
  content: "\e0bc";
}
.icon-directions:before {
  content: "\e52e";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-directions_railway:before {
  content: "\e534";
}
.icon-directions_run:before {
  content: "\e566";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-directions_walk:before {
  content: "\e536";
}
.icon-disc_full:before {
  content: "\e610";
}
.icon-dns:before {
  content: "\e875";
}
.icon-not_interested:before {
  content: "\e038";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-do_not_disturb_off:before {
  content: "\e643";
}
.icon-remove_circle:before {
  content: "\e15c";
}
.icon-dock:before {
  content: "\e30e";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-donut_large:before {
  content: "\e9b4";
}
.icon-donut_small:before {
  content: "\e9b5";
}
.icon-drafts:before {
  content: "\e151";
}
.icon-drag_handle:before {
  content: "\e25d";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-dvr:before {
  content: "\e1b2";
}
.icon-edit_location:before {
  content: "\e568";
}
.icon-eject:before {
  content: "\e8fb";
}
.icon-markunread:before {
  content: "\e159";
}
.icon-enhanced_encryption:before {
  content: "\e63f";
}
.icon-equalizer1:before {
  content: "\e039";
}
.icon-error1:before {
  content: "\e008";
}
.icon-error_outline:before {
  content: "\e00d";
}
.icon-euro_symbol:before {
  content: "\e9ca";
}
.icon-ev_station:before {
  content: "\e56d";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-event_seat:before {
  content: "\e9cb";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-explicit:before {
  content: "\e03b";
}
.icon-explore:before {
  content: "\e87a";
}
.icon-exposure:before {
  content: "\e3ca";
}
.icon-exposure_neg_1:before {
  content: "\e3cb";
}
.icon-exposure_neg_2:before {
  content: "\e3cc";
}
.icon-exposure_plus_1:before {
  content: "\e3cd";
}
.icon-exposure_plus_2:before {
  content: "\e3ce";
}
.icon-exposure_zero:before {
  content: "\e3cf";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-face:before {
  content: "\e87c";
}
.icon-fast_forward:before {
  content: "\e03f";
}
.icon-fast_rewind:before {
  content: "\e042";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-featured_play_list:before {
  content: "\e06d";
}
.icon-featured_video:before {
  content: "\e06e";
}
.icon-sms_failed:before {
  content: "\e626";
}
.icon-fiber_dvr:before {
  content: "\e05e";
}
.icon-fiber_manual_record:before {
  content: "\e061";
}
.icon-fiber_new:before {
  content: "\e05f";
}
.icon-fiber_pin:before {
  content: "\e06a";
}
.icon-fiber_smart_record:before {
  content: "\e062";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter:before {
  content: "\e3d3";
}
.icon-filter_1:before {
  content: "\e3d0";
}
.icon-filter_2:before {
  content: "\e3d1";
}
.icon-filter_3:before {
  content: "\e3d2";
}
.icon-filter_4:before {
  content: "\e3d4";
}
.icon-filter_5:before {
  content: "\e3d5";
}
.icon-filter_6:before {
  content: "\e3d6";
}
.icon-filter_7:before {
  content: "\e3d7";
}
.icon-filter_8:before {
  content: "\e3d8";
}
.icon-filter_9:before {
  content: "\e3d9";
}
.icon-filter_9_plus:before {
  content: "\e3da";
}
.icon-filter_b_and_w:before {
  content: "\e3db";
}
.icon-filter_center_focus:before {
  content: "\e3dc";
}
.icon-filter_drama:before {
  content: "\e3dd";
}
.icon-filter_frames:before {
  content: "\e3de";
}
.icon-terrain:before {
  content: "\e564";
}
.icon-filter_list:before {
  content: "\e152";
}
.icon-filter_none:before {
  content: "\e3e0";
}
.icon-filter_tilt_shift:before {
  content: "\e3e2";
}
.icon-filter_vintage:before {
  content: "\e3e3";
}
.icon-find_in_page:before {
  content: "\e880";
}
.icon-find_replace:before {
  content: "\e881";
}
.icon-fingerprint:before {
  content: "\e9da";
}
.icon-first_page:before {
  content: "\e5dc";
}
.icon-fitness_center:before {
  content: "\eb43";
}
.icon-flare:before {
  content: "\e3e4";
}
.icon-flash_auto:before {
  content: "\e3e5";
}
.icon-flash_off:before {
  content: "\e3e6";
}
.icon-flash_on:before {
  content: "\e3e7";
}
.icon-flight_land:before {
  content: "\ea29";
}
.icon-flight_takeoff:before {
  content: "\ea2a";
}
.icon-flip:before {
  content: "\e3e8";
}
.icon-flip_to_back:before {
  content: "\e882";
}
.icon-flip_to_front:before {
  content: "\e883";
}
.icon-folder1:before {
  content: "\e2c7";
}
.icon-folder_open:before {
  content: "\e2c8";
}
.icon-folder_shared:before {
  content: "\e2c9";
}
.icon-folder_special:before {
  content: "\e617";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-format_align_center:before {
  content: "\e234";
}
.icon-format_align_justify:before {
  content: "\e235";
}
.icon-format_align_left:before {
  content: "\e236";
}
.icon-format_align_right:before {
  content: "\e237";
}
.icon-format_bold:before {
  content: "\e238";
}
.icon-format_clear:before {
  content: "\e239";
}
.icon-format_color_fill:before {
  content: "\e23a";
}
.icon-format_color_reset:before {
  content: "\e23b";
}
.icon-format_color_text:before {
  content: "\e23c";
}
.icon-format_indent_decrease:before {
  content: "\e23d";
}
.icon-format_indent_increase:before {
  content: "\e23e";
}
.icon-format_italic:before {
  content: "\e23f";
}
.icon-format_line_spacing:before {
  content: "\e240";
}
.icon-format_list_bulleted:before {
  content: "\e241";
}
.icon-format_list_numbered:before {
  content: "\e242";
}
.icon-format_paint:before {
  content: "\e243";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-format_shapes:before {
  content: "\e25e";
}
.icon-format_size:before {
  content: "\e245";
}
.icon-format_strikethrough:before {
  content: "\e246";
}
.icon-format_textdirection_l_to_r:before {
  content: "\e247";
}
.icon-format_textdirection_r_to_l:before {
  content: "\e248";
}
.icon-format_underlined:before {
  content: "\e249";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-forward1:before {
  content: "\e154";
}
.icon-forward_10:before {
  content: "\e057";
}
.icon-forward_30:before {
  content: "\e058";
}
.icon-forward_5:before {
  content: "\e063";
}
.icon-free_breakfast:before {
  content: "\eb44";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-fullscreen_exit:before {
  content: "\e5d1";
}
.icon-functions:before {
  content: "\e24a";
}
.icon-g_translate:before {
  content: "\ea43";
}
.icon-games:before {
  content: "\e046";
}
.icon-gavel:before {
  content: "\ea44";
}
.icon-gesture:before {
  content: "\e155";
}
.icon-gif:before {
  content: "\ea55";
}
.icon-goat:before {
  content: "\ea56";
}
.icon-golf_course:before {
  content: "\eb45";
}
.icon-my_location:before {
  content: "\e55c";
}
.icon-location_searching:before {
  content: "\e1b7";
}
.icon-location_disabled:before {
  content: "\e1b6";
}
.icon-star:before {
  content: "\e838";
}
.icon-gradient:before {
  content: "\e3e9";
}
.icon-grain:before {
  content: "\e3ea";
}
.icon-graphic_eq:before {
  content: "\e1b8";
}
.icon-grid_off:before {
  content: "\e3eb";
}
.icon-grid_on:before {
  content: "\e3ec";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-group_work:before {
  content: "\e886";
}
.icon-hd:before {
  content: "\e054";
}
.icon-hdr_off:before {
  content: "\e3ed";
}
.icon-hdr_on:before {
  content: "\e3ee";
}
.icon-hdr_strong:before {
  content: "\e3f1";
}
.icon-hdr_weak:before {
  content: "\e3f2";
}
.icon-headset:before {
  content: "\e310";
}
.icon-headset_mic:before {
  content: "\e311";
}
.icon-healing:before {
  content: "\e3f3";
}
.icon-hearing:before {
  content: "\e048";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-high_quality:before {
  content: "\e04b";
}
.icon-highlight:before {
  content: "\e25f";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-restore:before {
  content: "\e8b3";
}
.icon-home:before {
  content: "\e88a";
}
.icon-hot_tub:before {
  content: "\eb46";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-http:before {
  content: "\ea57";
}
.icon-lock3:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-image_aspect_ratio:before {
  content: "\e3f5";
}
.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-import_export:before {
  content: "\e0c3";
}
.icon-important_devices:before {
  content: "\ea58";
}
.icon-inbox:before {
  content: "\e156";
}
.icon-indeterminate_check_box:before {
  content: "\ea59";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-input:before {
  content: "\e890";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-insert_drive_file:before {
  content: "\e24d";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-link:before {
  content: "\e157";
}
.icon-invert_colors:before {
  content: "\e891";
}
.icon-invert_colors_off:before {
  content: "\e0c4";
}
.icon-iso:before {
  content: "\e3f6";
}
.icon-keyboard1:before {
  content: "\e312";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-keyboard_capslock:before {
  content: "\e318";
}
.icon-keyboard_hide:before {
  content: "\e31a";
}
.icon-keyboard_return:before {
  content: "\e31b";
}
.icon-keyboard_tab:before {
  content: "\e31c";
}
.icon-keyboard_voice:before {
  content: "\e31d";
}
.icon-kitchen:before {
  content: "\eb47";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-language:before {
  content: "\e894";
}
.icon-laptop_chromebook:before {
  content: "\e31f";
}
.icon-laptop_mac:before {
  content: "\e320";
}
.icon-laptop_windows:before {
  content: "\e321";
}
.icon-last_page:before {
  content: "\e5dd";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-layers1:before {
  content: "\e53b";
}
.icon-layers_clear:before {
  content: "\e53c";
}
.icon-leak_add:before {
  content: "\e3f8";
}
.icon-leak_remove:before {
  content: "\e3f9";
}
.icon-lens:before {
  content: "\e3fa";
}
.icon-library_books:before {
  content: "\e04f";
}
.icon-library_music:before {
  content: "\e064";
}
.icon-lightbulb_outline:before {
  content: "\ea5a";
}
.icon-line_style:before {
  content: "\ea5b";
}
.icon-line_weight:before {
  content: "\ea5c";
}
.icon-linear_scale:before {
  content: "\e260";
}
.icon-linked_camera:before {
  content: "\e438";
}
.icon-list:before {
  content: "\e896";
}
.icon-live_help:before {
  content: "\e0c6";
}
.icon-live_tv:before {
  content: "\e639";
}
.icon-local_play:before {
  content: "\e553";
}
.icon-local_airport:before {
  content: "\e53d";
}
.icon-local_atm:before {
  content: "\e53e";
}
.icon-local_bar:before {
  content: "\e540";
}
.icon-local_cafe:before {
  content: "\e541";
}
.icon-local_car_wash:before {
  content: "\e542";
}
.icon-local_convenience_store:before {
  content: "\e543";
}
.icon-restaurant_menu:before {
  content: "\e561";
}
.icon-local_drink:before {
  content: "\e544";
}
.icon-local_florist:before {
  content: "\e545";
}
.icon-local_gas_station:before {
  content: "\e546";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_hospital:before {
  content: "\e548";
}
.icon-local_laundry_service:before {
  content: "\e54a";
}
.icon-local_library:before {
  content: "\e54b";
}
.icon-local_mall:before {
  content: "\e54c";
}
.icon-theaters:before {
  content: "\e8da";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-local_parking:before {
  content: "\e54f";
}
.icon-local_pharmacy:before {
  content: "\e550";
}
.icon-local_pizza:before {
  content: "\e552";
}
.icon-print:before {
  content: "\e8ad";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-location_city:before {
  content: "\e7f1";
}
.icon-location_off:before {
  content: "\e0c7";
}
.icon-room:before {
  content: "\e8b4";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-looks:before {
  content: "\e3fc";
}
.icon-looks_3:before {
  content: "\e3fb";
}
.icon-looks_4:before {
  content: "\e3fd";
}
.icon-looks_5:before {
  content: "\e3fe";
}
.icon-looks_6:before {
  content: "\e3ff";
}
.icon-looks_one:before {
  content: "\e400";
}
.icon-looks_two:before {
  content: "\e401";
}
.icon-sync:before {
  content: "\e627";
}
.icon-loupe:before {
  content: "\e402";
}
.icon-low_priority:before {
  content: "\e16d";
}
.icon-loyalty:before {
  content: "\e89a";
}
.icon-mail_outline:before {
  content: "\e0e1";
}
.icon-map1:before {
  content: "\e55b";
}
.icon-markunread_mailbox:before {
  content: "\e89b";
}
.icon-memory:before {
  content: "\e322";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-message:before {
  content: "\e0c9";
}
.icon-mic1:before {
  content: "\e065";
}
.icon-mic_none:before {
  content: "\e066";
}
.icon-mic_off:before {
  content: "\e067";
}
.icon-mms:before {
  content: "\e618";
}
.icon-mode_comment:before {
  content: "\e253";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-money_off:before {
  content: "\e25c";
}
.icon-monochrome_photos:before {
  content: "\e403";
}
.icon-mood_bad:before {
  content: "\e7f3";
}
.icon-more:before {
  content: "\e619";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-motorcycle:before {
  content: "\ea5f";
}
.icon-mouse1:before {
  content: "\e323";
}
.icon-move_to_inbox:before {
  content: "\e168";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-movie_filter:before {
  content: "\e43a";
}
.icon-multiline_chart:before {
  content: "\e6df";
}
.icon-music_note:before {
  content: "\e405";
}
.icon-music_video:before {
  content: "\e068";
}
.icon-nature:before {
  content: "\e406";
}
.icon-nature_people:before {
  content: "\e407";
}
.icon-navigation:before {
  content: "\e55d";
}
.icon-near_me:before {
  content: "\e569";
}
.icon-network_cell:before {
  content: "\e1b9";
}
.icon-network_check:before {
  content: "\e640";
}
.icon-network_locked:before {
  content: "\e61a";
}
.icon-network_wifi:before {
  content: "\e1ba";
}
.icon-new_releases:before {
  content: "\e069";
}
.icon-next_week:before {
  content: "\e16a";
}
.icon-nfc:before {
  content: "\e1bb";
}
.icon-no_encryption:before {
  content: "\e641";
}
.icon-signal_cellular_no_sim:before {
  content: "\e1ce";
}
.icon-note:before {
  content: "\e06f";
}
.icon-note_add:before {
  content: "\e89c";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-notifications_none:before {
  content: "\e7f5";
}
.icon-notifications_off:before {
  content: "\e7f6";
}
.icon-notifications_paused:before {
  content: "\e7f8";
}
.icon-offline_pin:before {
  content: "\ea60";
}
.icon-ondemand_video:before {
  content: "\e63a";
}
.icon-opacity:before {
  content: "\ea61";
}
.icon-open_in_browser:before {
  content: "\e89d";
}
.icon-open_with:before {
  content: "\e89f";
}
.icon-pages:before {
  content: "\e7f9";
}
.icon-pageview:before {
  content: "\e8a0";
}
.icon-pan_tool:before {
  content: "\ea62";
}
.icon-panorama:before {
  content: "\e40b";
}
.icon-radio_button_unchecked:before {
  content: "\e836";
}
.icon-panorama_horizontal:before {
  content: "\e40d";
}
.icon-panorama_vertical:before {
  content: "\e40e";
}
.icon-panorama_wide_angle:before {
  content: "\e40f";
}
.icon-party_mode:before {
  content: "\e7fa";
}
.icon-pause:before {
  content: "\e070";
}
.icon-pause_circle_filled:before {
  content: "\e071";
}
.icon-pause_circle_outline:before {
  content: "\e072";
}
.icon-people_outline:before {
  content: "\e7fc";
}
.icon-perm_camera_mic:before {
  content: "\e8a2";
}
.icon-perm_contact_calendar:before {
  content: "\e8a3";
}
.icon-perm_data_setting:before {
  content: "\e8a4";
}
.icon-perm_device_information:before {
  content: "\e8a5";
}
.icon-person_outline:before {
  content: "\e7ff";
}
.icon-perm_media:before {
  content: "\e8a7";
}
.icon-perm_phone_msg:before {
  content: "\e8a8";
}
.icon-perm_scan_wifi:before {
  content: "\e8a9";
}
.icon-person:before {
  content: "\e7fd";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-person_pin:before {
  content: "\e55a";
}
.icon-person_pin_circle:before {
  content: "\e56a";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-pets:before {
  content: "\ea63";
}
.icon-phone_android:before {
  content: "\e324";
}
.icon-phone_bluetooth_speaker:before {
  content: "\e61b";
}
.icon-phone_forwarded:before {
  content: "\e61c";
}
.icon-phone_in_talk:before {
  content: "\e61d";
}
.icon-phone_iphone:before {
  content: "\e325";
}
.icon-phone_locked:before {
  content: "\e61e";
}
.icon-phone_missed:before {
  content: "\e61f";
}
.icon-phone_paused:before {
  content: "\e620";
}
.icon-phonelink_erase:before {
  content: "\e0db";
}
.icon-phonelink_lock:before {
  content: "\e0dc";
}
.icon-phonelink_off:before {
  content: "\e327";
}
.icon-phonelink_ring:before {
  content: "\e0dd";
}
.icon-phonelink_setup:before {
  content: "\e0de";
}
.icon-photo_album:before {
  content: "\e411";
}
.icon-photo_filter:before {
  content: "\e43b";
}
.icon-photo_size_select_actual:before {
  content: "\e432";
}
.icon-photo_size_select_large:before {
  content: "\e433";
}
.icon-photo_size_select_small:before {
  content: "\e434";
}
.icon-picture_as_pdf:before {
  content: "\e415";
}
.icon-picture_in_picture:before {
  content: "\e8aa";
}
.icon-picture_in_picture_alt:before {
  content: "\ea64";
}
.icon-pie_chart:before {
  content: "\e6c4";
}
.icon-pie_chart_outlined:before {
  content: "\e6c5";
}
.icon-pin_drop:before {
  content: "\e55e";
}
.icon-play_arrow:before {
  content: "\e073";
}
.icon-play_circle_filled:before {
  content: "\e074";
}
.icon-play_circle_outline:before {
  content: "\e075";
}
.icon-play_for_work:before {
  content: "\ea65";
}
.icon-playlist_add:before {
  content: "\e076";
}
.icon-playlist_add_check:before {
  content: "\e077";
}
.icon-playlist_play:before {
  content: "\e078";
}
.icon-plus_one:before {
  content: "\e800";
}
.icon-polymer:before {
  content: "\e8ab";
}
.icon-pool:before {
  content: "\eb48";
}
.icon-portable_wifi_off:before {
  content: "\e0ce";
}
.icon-portrait:before {
  content: "\e416";
}
.icon-power:before {
  content: "\e63c";
}
.icon-power_input:before {
  content: "\e336";
}
.icon-power_settings_new:before {
  content: "\e8ac";
}
.icon-pregnant_woman:before {
  content: "\ea66";
}
.icon-present_to_all:before {
  content: "\e0df";
}
.icon-priority_high:before {
  content: "\e645";
}
.icon-public:before {
  content: "\e80b";
}
.icon-publish:before {
  content: "\e255";
}
.icon-queue_music:before {
  content: "\e079";
}
.icon-queue_play_next:before {
  content: "\e07a";
}
.icon-radio1:before {
  content: "\e07b";
}
.icon-radio_button_checked:before {
  content: "\e837";
}
.icon-rate_review:before {
  content: "\e560";
}
.icon-receipt:before {
  content: "\e8b0";
}
.icon-recent_actors:before {
  content: "\e07c";
}
.icon-record_voice_over:before {
  content: "\ea67";
}
.icon-redo1:before {
  content: "\e15a";
}
.icon-refresh1:before {
  content: "\e5d5";
}
.icon-remove:before {
  content: "\e15b";
}
.icon-remove_circle_outline:before {
  content: "\e15d";
}
.icon-remove_from_queue:before {
  content: "\e07d";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-remove_shopping_cart:before {
  content: "\ea68";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-repeat:before {
  content: "\e07e";
}
.icon-repeat_one:before {
  content: "\e07f";
}
.icon-replay:before {
  content: "\e080";
}
.icon-replay_10:before {
  content: "\e081";
}
.icon-replay_30:before {
  content: "\e082";
}
.icon-replay_5:before {
  content: "\e083";
}
.icon-reply1:before {
  content: "\e15e";
}
.icon-reply_all:before {
  content: "\e15f";
}
.icon-report:before {
  content: "\e160";
}
.icon-warning3:before {
  content: "\e00e";
}
.icon-restaurant:before {
  content: "\e56c";
}
.icon-restore_page:before {
  content: "\ea69";
}
.icon-ring_volume:before {
  content: "\e0d1";
}
.icon-room_service:before {
  content: "\eb49";
}
.icon-rotate_90_degrees_ccw:before {
  content: "\e418";
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-rotate_right:before {
  content: "\e41a";
}
.icon-rounded_corner:before {
  content: "\ea6a";
}
.icon-router:before {
  content: "\e328";
}
.icon-rowing:before {
  content: "\ea6b";
}
.icon-rss_feed:before {
  content: "\e0e5";
}
.icon-rv_hookup:before {
  content: "\e642";
}
.icon-satellite:before {
  content: "\e562";
}
.icon-save:before {
  content: "\e161";
}
.icon-scanner:before {
  content: "\e329";
}
.icon-school:before {
  content: "\e80c";
}
.icon-screen_lock_landscape:before {
  content: "\e1be";
}
.icon-screen_lock_portrait:before {
  content: "\e1bf";
}
.icon-screen_lock_rotation:before {
  content: "\e1c0";
}
.icon-screen_rotation:before {
  content: "\e1c1";
}
.icon-screen_share:before {
  content: "\e0e2";
}
.icon-sd_storage:before {
  content: "\e1c2";
}
.icon-search2:before {
  content: "\e8b6";
}
.icon-security:before {
  content: "\e32a";
}
.icon-select_all:before {
  content: "\e162";
}
.icon-send:before {
  content: "\e163";
}
.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-mobile:before {
  content: "\e000";
}
.icon-laptop:before {
  content: "\e001";
}
.icon-desktop:before {
  content: "\e002";
}
.icon-tablet1:before {
  content: "\e003";
}
.icon-phone1:before {
  content: "\e004";
}
.icon-document:before {
  content: "\e005";
}
.icon-documents:before {
  content: "\e006";
}
.icon-newspaper:before {
  content: "\e009";
}
.icon-notebook:before {
  content: "\e00a";
}
.icon-book-open:before {
  content: "\e00b";
}
.icon-browser:before {
  content: "\e00c";
}
.icon-picture1:before {
  content: "\e00f";
}
.icon-pictures3:before {
  content: "\e010";
}
.icon-video:before {
  content: "\e011";
}
.icon-camera:before {
  content: "\e012";
}
.icon-toolbox:before {
  content: "\e014";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-wallet1:before {
  content: "\e016";
}
.icon-gift:before {
  content: "\e017";
}
.icon-focus:before {
  content: "\e01b";
}
.icon-adjustments:before {
  content: "\e01d";
}
.icon-hourglass:before {
  content: "\e01f";
}
.icon-lock2:before {
  content: "\e020";
}
.icon-megaphone1:before {
  content: "\e021";
}
.icon-shield:before {
  content: "\e022";
}
.icon-trophy:before {
  content: "\e023";
}
.icon-flag:before {
  content: "\e024";
}
.icon-map:before {
  content: "\e025";
}
.icon-puzzle:before {
  content: "\e026";
}
.icon-basket1:before {
  content: "\e027";
}
.icon-envelope:before {
  content: "\e028";
}
.icon-streetsign:before {
  content: "\e029";
}
.icon-telescope:before {
  content: "\e02a";
}
.icon-gears:before {
  content: "\e02b";
}
.icon-key4:before {
  content: "\e02c";
}
.icon-paperclip:before {
  content: "\e02d";
}
.icon-attachment1:before {
  content: "\e02e";
}
.icon-pricetags:before {
  content: "\e02f";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-layers:before {
  content: "\e031";
}
.icon-pencil1:before {
  content: "\e032";
}
.icon-tools:before {
  content: "\e033";
}
.icon-tools-2:before {
  content: "\e034";
}
.icon-scissors:before {
  content: "\e035";
}
.icon-paintbrush:before {
  content: "\e036";
}
.icon-magnifying-glass:before {
  content: "\e037";
}
.icon-linegraph:before {
  content: "\e084";
}
.icon-mic:before {
  content: "\e03a";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-caution:before {
  content: "\e03d";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-profile-female:before {
  content: "\e041";
}
.icon-bike1:before {
  content: "\e085";
}
.icon-wine:before {
  content: "\e043";
}
.icon-hotairballoon:before {
  content: "\e044";
}
.icon-globe2:before {
  content: "\e045";
}
.icon-map-pin:before {
  content: "\e047";
}
.icon-chat1:before {
  content: "\e049";
}
.icon-heart:before {
  content: "\e04a";
}
.icon-upload:before {
  content: "\e04c";
}
.icon-download1:before {
  content: "\e04d";
}
.icon-target1:before {
  content: "\e04e";
}
.icon-piechart:before {
  content: "\e050";
}
.icon-speedometer:before {
  content: "\e051";
}
.icon-global:before {
  content: "\e052";
}
.icon-compass8:before {
  content: "\e053";
}
.icon-clock:before {
  content: "\e055";
}
.icon-alarmclock1:before {
  content: "\e059";
}
.icon-refresh:before {
  content: "\e05a";
}
.icon-happy:before {
  content: "\e05b";
}
.icon-sad:before {
  content: "\e05c";
}
.icon-facebook2:before {
  content: "\e086";
}
.icon-twitter2:before {
  content: "\e087";
}
.icon-googleplus1:before {
  content: "\e088";
}
.icon-rss:before {
  content: "\e089";
}
.icon-tumblr2:before {
  content: "\e08a";
}
.icon-linkedin1:before {
  content: "\e08b";
}
.icon-dribbble:before {
  content: "\e08c";
}
.icon-number:before {
  content: "\e947";
}
.icon-number1:before {
  content: "\e948";
}
.icon-number2:before {
  content: "\e949";
}
.icon-number3:before {
  content: "\e94a";
}
.icon-number4:before {
  content: "\e94b";
}
.icon-number5:before {
  content: "\e94c";
}
.icon-number6:before {
  content: "\e94d";
}
.icon-number7:before {
  content: "\e94e";
}
.icon-number8:before {
  content: "\e94f";
}
.icon-number9:before {
  content: "\e950";
}
.icon-number10:before {
  content: "\e951";
}
.icon-number11:before {
  content: "\e952";
}
.icon-number12:before {
  content: "\e953";
}
.icon-number13:before {
  content: "\e954";
}
.icon-number14:before {
  content: "\e955";
}
.icon-number15:before {
  content: "\e956";
}
.icon-number16:before {
  content: "\e957";
}
.icon-number17:before {
  content: "\e958";
}
.icon-number18:before {
  content: "\e959";
}
.icon-number19:before {
  content: "\e95a";
}
.icon-quote:before {
  content: "\e95b";
}
.icon-quote1:before {
  content: "\e95c";
}
.icon-tag:before {
  content: "\e95d";
}
.icon-tag1:before {
  content: "\e95e";
}
.icon-calendar:before {
  content: "\e961";
}
.icon-calendar1:before {
  content: "\e962";
}
.icon-calendar2:before {
  content: "\e963";
}
.icon-phone:before {
  content: "\e966";
}
.icon-tablet:before {
  content: "\e967";
}
.icon-window:before {
  content: "\e968";
}
.icon-monitor:before {
  content: "\e969";
}
.icon-camera2:before {
  content: "\e96c";
}
.icon-microphone:before {
  content: "\e96d";
}
.icon-microphone1:before {
  content: "\e96e";
}
.icon-microphone2:before {
  content: "\e96f";
}
.icon-drink:before {
  content: "\e970";
}
.icon-drink1:before {
  content: "\e971";
}
.icon-drink2:before {
  content: "\e972";
}
.icon-coffee:before {
  content: "\e973";
}
.icon-cake:before {
  content: "\e974";
}
.icon-checkmark:before {
  content: "\e975";
}
.icon-checkmark1:before {
  content: "\e976";
}
.icon-cancel:before {
  content: "\e93c";
}
.icon-plus:before {
  content: "\e977";
}
.icon-plus1:before {
  content: "\e978";
}
.icon-minus:before {
  content: "\e979";
}
.icon-minus1:before {
  content: "\e97a";
}
.icon-notice:before {
  content: "\e97b";
}
.icon-notice1:before {
  content: "\e97c";
}
.icon-cog:before {
  content: "\e97d";
}
.icon-cogs:before {
  content: "\e97e";
}
.icon-cog1:before {
  content: "\e97f";
}
.icon-warning:before {
  content: "\e980";
}
.icon-suitcase:before {
  content: "\e981";
}
.icon-suitcase1:before {
  content: "\e982";
}
.icon-suitcase2:before {
  content: "\e983";
}
.icon-picture:before {
  content: "\e984";
}
.icon-pictures:before {
  content: "\e985";
}
.icon-pictures1:before {
  content: "\e986";
}
.icon-chronometer:before {
  content: "\e988";
}
.icon-watch:before {
  content: "\e989";
}
.icon-alarmclock:before {
  content: "\e98a";
}
.icon-time1:before {
  content: "\e98c";
}
.icon-wallet:before {
  content: "\e98e";
}
.icon-checkmark2:before {
  content: "\e98f";
}
.icon-cancel1:before {
  content: "\e990";
}
.icon-eye:before {
  content: "\e991";
}
.icon-sitemap:before {
  content: "\e992";
}
.icon-sitemap1:before {
  content: "\e993";
}
.icon-location:before {
  content: "\e994";
}
.icon-download:before {
  content: "\e995";
}
.icon-basket:before {
  content: "\e996";
}
.icon-folder:before {
  content: "\e997";
}
.icon-gamepad:before {
  content: "\e998";
}
.icon-alarm:before {
  content: "\e999";
}
.icon-alarm-cancel:before {
  content: "\e99a";
}
.icon-graduate:before {
  content: "\e99b";
}
.icon-lab:before {
  content: "\e99c";
}
.icon-washingmachine:before {
  content: "\e9a0";
}
.icon-mouse:before {
  content: "\e9a1";
}
.icon-medal:before {
  content: "\e9a2";
}
.icon-medal1:before {
  content: "\e9a3";
}
.icon-cord:before {
  content: "\e9a4";
}
.icon-locked:before {
  content: "\e9a5";
}
.icon-unlocked:before {
  content: "\e9a6";
}
.icon-skeletor:before {
  content: "\e95f";
}
.icon-bomb:before {
  content: "\e9a9";
}
.icon-battery:before {
  content: "\e9aa";
}
.icon-battery1:before {
  content: "\e9ab";
}
.icon-battery2:before {
  content: "\e9ac";
}
.icon-battery3:before {
  content: "\e9ad";
}
.icon-battery4:before {
  content: "\e9ae";
}
.icon-injection:before {
  content: "\e9b0";
}
.icon-lamp:before {
  content: "\e9b1";
}
.icon-lamp1:before {
  content: "\e9b2";
}
.icon-lamp2:before {
  content: "\e9b3";
}
.icon-moneybag:before {
  content: "\e9b6";
}
.icon-layout:before {
  content: "\e9b7";
}
.icon-layout1:before {
  content: "\e9b8";
}
.icon-layout2:before {
  content: "\e9b9";
}
.icon-layout3:before {
  content: "\e9ba";
}
.icon-layout4:before {
  content: "\e9bb";
}
.icon-layout5:before {
  content: "\e9bc";
}
.icon-layout6:before {
  content: "\e9bd";
}
.icon-layout7:before {
  content: "\e9be";
}
.icon-layout8:before {
  content: "\e9bf";
}
.icon-layout9:before {
  content: "\e9c0";
}
.icon-layout10:before {
  content: "\e9c1";
}
.icon-layout11:before {
  content: "\e9c2";
}
.icon-layout12:before {
  content: "\e9c3";
}
.icon-layout13:before {
  content: "\e9c4";
}
.icon-screwdriver:before {
  content: "\e9c5";
}
.icon-paint:before {
  content: "\e9c6";
}
.icon-brush:before {
  content: "\e9c7";
}
.icon-chat:before {
  content: "\e9c8";
}
.icon-comments:before {
  content: "\e9c9";
}
.icon-equalizer:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-abacus:before {
  content: "\e9ce";
}
.icon-pencil:before {
  content: "\e9cf";
}
.icon-pen:before {
  content: "\e9d0";
}
.icon-rotate:before {
  content: "\e9d1";
}
.icon-rotate1:before {
  content: "\e9d2";
}
.icon-reply:before {
  content: "\e9d3";
}
.icon-forward:before {
  content: "\e9d4";
}
.icon-dollar:before {
  content: "\e9d5";
}
.icon-dollar1:before {
  content: "\e9d6";
}
.icon-coins:before {
  content: "\e9d7";
}
.icon-pig:before {
  content: "\e9d8";
}
.icon-music:before {
  content: "\e9d9";
}
.icon-bike:before {
  content: "\e9db";
}
.icon-paperplane:before {
  content: "\e9dc";
}
.icon-rocket:before {
  content: "\e9dd";
}
.icon-book:before {
  content: "\e9de";
}
.icon-target:before {
  content: "\e9df";
}
.icon-badge:before {
  content: "\e9e0";
}
.icon-badge1:before {
  content: "\e9e1";
}
.icon-keyboard:before {
  content: "\e9e2";
}
.icon-radio:before {
  content: "\e9e3";
}
.icon-checked:before {
  content: "\e9e4";
}
.icon-error:before {
  content: "\e9e5";
}
.icon-add:before {
  content: "\e9e6";
}
.icon-minus2:before {
  content: "\e9e7";
}
.icon-pictures2:before {
  content: "\e9e8";
}
.icon-atom:before {
  content: "\e9e9";
}
.icon-eyedropper:before {
  content: "\e9ea";
}
.icon-globe:before {
  content: "\e9eb";
}
.icon-globe1:before {
  content: "\e9ec";
}
.icon-shipping:before {
  content: "\e9ed";
}
.icon-yingyang:before {
  content: "\e9ee";
}
.icon-magnet:before {
  content: "\e9ef";
}
.icon-tags:before {
  content: "\e9f0";
}
.icon-heart1:before {
  content: "\e9f1";
}
.icon-heart2:before {
  content: "\e9f2";
}
.icon-usb:before {
  content: "\e9f3";
}
.icon-clipboard:before {
  content: "\e9f4";
}
.icon-clipboard1:before {
  content: "\e9f5";
}
.icon-clipboard2:before {
  content: "\e9f6";
}
.icon-switch:before {
  content: "\e9f7";
}
.icon-ruler:before {
  content: "\e9f8";
}
.icon-mail-envelope:before {
  content: "\e9f9";
}
.icon-mail-envelope1:before {
  content: "\e9fa";
}
.icon-mail-envelope-open:before {
  content: "\e9fb";
}
.icon-mail-envelope-open1:before {
  content: "\e9fc";
}
.icon-mail-envelope-closed:before {
  content: "\e9fd";
}
.icon-mail-envelope-closed1:before {
  content: "\e9fe";
}
.icon-mail-envelope-open2:before {
  content: "\e9ff";
}
.icon-mail-envelope-open3:before {
  content: "\ea00";
}
.icon-mail-envelope-open4:before {
  content: "\ea01";
}
.icon-mail-envelope-open5:before {
  content: "\ea02";
}
.icon-mail-envelope-closed2:before {
  content: "\ea03";
}
.icon-mail-envelope-closed3:before {
  content: "\ea04";
}
.icon-mail-envelope-open6:before {
  content: "\ea05";
}
.icon-mail-envelope-open7:before {
  content: "\ea06";
}
.icon-mail-error:before {
  content: "\ea07";
}
.icon-mail-error1:before {
  content: "\ea08";
}
.icon-mail-checked:before {
  content: "\ea09";
}
.icon-mail-checked1:before {
  content: "\ea0a";
}
.icon-mail-cancel:before {
  content: "\ea0b";
}
.icon-mail-cancel1:before {
  content: "\ea0c";
}
.icon-mail--forbidden:before {
  content: "\ea0d";
}
.icon-mail--forbidden1:before {
  content: "\ea0e";
}
.icon-mail-add:before {
  content: "\ea0f";
}
.icon-mail-add1:before {
  content: "\ea10";
}
.icon-mail-remove:before {
  content: "\ea11";
}
.icon-mail-remove1:before {
  content: "\ea12";
}
.icon-eye-hidden:before {
  content: "\ea13";
}
.icon-eye-hidden1:before {
  content: "\ea14";
}
.icon-eye1:before {
  content: "\ea15";
}
.icon-eye2:before {
  content: "\ea16";
}
.icon-key:before {
  content: "\ea17";
}
.icon-key1:before {
  content: "\ea18";
}
.icon-key2:before {
  content: "\ea19";
}
.icon-key3:before {
  content: "\ea1a";
}
.icon-trash-can:before {
  content: "\ea1b";
}
.icon-trash-can1:before {
  content: "\ea1c";
}
.icon-trash-can2:before {
  content: "\ea1d";
}
.icon-trash-can3:before {
  content: "\ea1e";
}
.icon-information:before {
  content: "\ea1f";
}
.icon-information1:before {
  content: "\ea20";
}
.icon-information2:before {
  content: "\ea21";
}
.icon-information3:before {
  content: "\ea22";
}
.icon-document-text:before {
  content: "\ea23";
}
.icon-document-text1:before {
  content: "\ea24";
}
.icon-document-text2:before {
  content: "\ea25";
}
.icon-document-text3:before {
  content: "\ea26";
}
.icon-inbox-download:before {
  content: "\e960";
}
.icon-inbox-download1:before {
  content: "\e964";
}
.icon-inbox-upload:before {
  content: "\e96b";
}
.icon-inbox-upload1:before {
  content: "\e987";
}
.icon-document-zip:before {
  content: "\ea27";
}
.icon-document-zip1:before {
  content: "\ea28";
}
.icon-search:before {
  content: "\ea2b";
}
.icon-search1:before {
  content: "\ea2c";
}
.icon-search-plus:before {
  content: "\ea2d";
}
.icon-search-plus1:before {
  content: "\ea2e";
}
.icon-search-minus:before {
  content: "\ea2f";
}
.icon-search-minus1:before {
  content: "\ea30";
}
.icon-lock:before {
  content: "\ea31";
}
.icon-lock1:before {
  content: "\ea32";
}
.icon-lock-open:before {
  content: "\ea33";
}
.icon-lock-open1:before {
  content: "\ea34";
}
.icon-lock-open2:before {
  content: "\ea35";
}
.icon-lock-open3:before {
  content: "\ea36";
}
.icon-lock-stripes:before {
  content: "\ea37";
}
.icon-lock-stripes1:before {
  content: "\ea38";
}
.icon-lock-rounded:before {
  content: "\ea39";
}
.icon-lock-rounded1:before {
  content: "\ea3a";
}
.icon-lock-rounded-open:before {
  content: "\ea3b";
}
.icon-lock-rounded-open1:before {
  content: "\ea3c";
}
.icon-lock-rounded-open2:before {
  content: "\ea3d";
}
.icon-lock-rounded-open3:before {
  content: "\ea3e";
}
.icon-combination-lock:before {
  content: "\ea3f";
}
.icon-combination-lock1:before {
  content: "\ea40";
}
.icon-printer:before {
  content: "\ea41";
}
.icon-printer1:before {
  content: "\ea42";
}
.icon-printer-text:before {
  content: "\ea45";
}
.icon-printer-text1:before {
  content: "\ea46";
}
.icon-printer-text2:before {
  content: "\ea47";
}
.icon-printer-text3:before {
  content: "\ea48";
}
.icon-cloud-download:before {
  content: "\ea49";
}
.icon-cloud-download1:before {
  content: "\ea4a";
}
.icon-cloud-upload:before {
  content: "\ea4b";
}
.icon-cloud-upload1:before {
  content: "\ea4c";
}
.icon-cloud-error:before {
  content: "\ea4d";
}
.icon-cloud-error1:before {
  content: "\ea4e";
}
.icon-cloud:before {
  content: "\ea4f";
}
.icon-cloud1:before {
  content: "\ea50";
}
.icon-sunglasses:before {
  content: "\ea51";
}
.icon-sunglasses1:before {
  content: "\ea52";
}
.icon-barometer:before {
  content: "\ea53";
}
.icon-barometer1:before {
  content: "\ea54";
}
.icon-warning1:before {
  content: "\ea5d";
}
.icon-warning2:before {
  content: "\ea5e";
}
.icon-high-five:before {
  content: "\eae5";
}
.icon-high-five1:before {
  content: "\eae6";
}
.icon-thumb-up:before {
  content: "\eae7";
}
.icon-thumb-up1:before {
  content: "\eae8";
}
.icon-thumb-down:before {
  content: "\eae9";
}
.icon-thumb-down1:before {
  content: "\eaea";
}
.icon-thumb-up2:before {
  content: "\eaeb";
}
.icon-thumb-up3:before {
  content: "\eaec";
}
.icon-thumb-down2:before {
  content: "\eaed";
}
.icon-thumb-down3:before {
  content: "\eaee";
}
.icon-statamic:before {
  content: "\e900";
}
.icon-tumblr:before {
  content: "\e901";
  color: #36465d;
}
.icon-csswizardry:before {
  content: "\e902";
  color: #f43059;
}
.icon-dropbox:before {
  content: "\e903";
  color: #0061ff;
}
.icon-wheniwork:before {
  content: "\e904";
  color: #51a33d;
}
.icon-microsoftword:before {
  content: "\e905";
  color: #2b579a;
}
.icon-javascript:before {
  content: "\e906";
  color: #f7df1e;
}
.icon-gmail:before {
  content: "\e907";
  color: #d14836;
}
.icon-android:before {
  content: "\e908";
  color: #a4c639;
}
.icon-adobe:before {
  content: "\e909";
  color: #f00;
}
.icon-microsoftexcel:before {
  content: "\e90a";
  color: #217346;
}
.icon-visa:before {
  content: "\e90b";
  color: #142787;
}
.icon-java:before {
  content: "\e90c";
  color: #007396;
}
.icon-viber:before {
  content: "\e90d";
  color: #665cac;
}
.icon-github:before {
  content: "\e90e";
}
.icon-jquery:before {
  content: "\e90f";
  color: #0769ad;
}
.icon-dell:before {
  content: "\e910";
  color: #007db8;
}
.icon-vimeo:before {
  content: "\e911";
  color: #1ab7ea;
}
.icon-instagram:before {
  content: "\e912";
  color: #e4405f;
}
.icon-ruby:before {
  content: "\e913";
  color: #cc342d;
}
.icon-instacart:before {
  content: "\e914";
  color: #43b02a;
}
.icon-safari:before {
  content: "\e915";
}
.icon-treehouse:before {
  content: "\e916";
  color: #5fcf80;
}
.icon-git:before {
  content: "\e917";
  color: #f05032;
}
.icon-freecodecamp:before {
  content: "\e918";
  color: #006400;
}
.icon-googleplay:before {
  content: "\e919";
  color: #607d8b;
}
.icon-spotify:before {
  content: "\e91a";
  color: #1ed760;
}
.icon-snapchat:before {
  content: "\e91b";
  color: #fffc00;
}
.icon-bing:before {
  content: "\e91c";
  color: #008373;
}
.icon-html5:before {
  content: "\e91d";
  color: #e34f26;
}
.icon-googledrive:before {
  content: "\e91e";
  color: #4386fc;
}
.icon-googleplus:before {
  content: "\e91f";
  color: #dc4e41;
}
.icon-paypal:before {
  content: "\e920";
  color: #00457c;
}
.icon-at-and-t:before {
  content: "\e921";
  color: #00a8e0;
}
.icon-facebook:before {
  content: "\e922";
  color: #3b5998;
}
.icon-amazon:before {
  content: "\e923";
  color: #f90;
}
.icon-pinterest:before {
  content: "\e924";
  color: #bd081c;
}
.icon-wechat:before {
  content: "\e925";
  color: #7bb32e;
}
.icon-whatsapp:before {
  content: "\e926";
  color: #25d366;
}
.icon-google:before {
  content: "\e927";
  color: #4285f4;
}
.icon-php:before {
  content: "\e928";
  color: #777bb4;
}
.icon-mozillafirefox:before {
  content: "\e929";
  color: #ff9400;
}
.icon-stackoverflow:before {
  content: "\e92a";
  color: #fe7a16;
}
.icon-microsoftoutlook:before {
  content: "\e92b";
  color: #0072c6;
}
.icon-adobedreamweaver:before {
  content: "\e92c";
  color: #35fa00;
}
.icon-windows:before {
  content: "\e92d";
  color: #0078d6;
}
.icon-youtube:before {
  content: "\e92e";
  color: #f00;
}
.icon-grav:before {
  content: "\e92f";
}
.icon-adobephotoshop:before {
  content: "\e930";
  color: #00c8ff;
}
.icon-microsoftedge:before {
  content: "\e931";
  color: #0078d7;
}
.icon-intel:before {
  content: "\e932";
  color: #0071c5;
}
.icon-codepen:before {
  content: "\e933";
}
.icon-linkedin:before {
  content: "\e934";
  color: #0077b5;
}
.icon-googlechrome:before {
  content: "\e935";
  color: #4285f4;
}
.icon-twitter:before {
  content: "\e936";
  color: #1da1f2;
}
.icon-hipchat:before {
  content: "\e937";
  color: #0052cc;
}
.icon-css3:before {
  content: "\e938";
  color: #1572b6;
}
.icon-adobelightroom:before {
  content: "\e939";
  color: #add5ec;
}
.icon-slack:before {
  content: "\e93a";
  color: #56b68b;
}
.icon-messenger:before {
  content: "\e93b";
  color: #0084ff;
}
.icon-mysql:before {
  content: "\e93d";
  color: #4479a1;
}
.icon-skype:before {
  content: "\e93e";
  color: #00aff0;
}
.icon-ebay:before {
  content: "\e93f";
  color: #e53238;
}
.icon-wordpress:before {
  content: "\e940";
  color: #21759b;
}
.icon-dot-net:before {
  content: "\e941";
  color: #5c2d91;
}
.icon-sublimetext:before {
  content: "\e942";
}
.icon-adobeacrobatreader:before {
  content: "\e943";
  color: #ee3f24;
}
.icon-apple:before {
  content: "\e944";
  color: #999;
}
.icon-visualstudiocode:before {
  content: "\e945";
  color: #007acc;
}
.icon-applemusic:before {
  content: "\e946";
}
.icon-undo:before {
  content: "\e965";
}
.icon-redo:before {
  content: "\e96a";
}
.icon-spinner3:before {
  content: "\e98b";
}
