@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*///////////////////// ESSENTIAL STYLES ////////////////////////*/

html, body {
  height: 100%;
  overflow-x: hidden;
}

.sidenav {
  position: absolute;
  right: 0;
  width: 0px;
  display: none;
  z-index: 999;
  background: transparent;
  box-shadow: -10px 10px 512px 256px #000000cc;
  transition: .5s;
  /* .flex-column */
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

/*///////////////////////////////////////////////////////////////*/

.overlay {
  background: linear-gradient(rgba(0,150,250,0.9), rgba(0,150,250,0.9)), url("keyboard.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-two {
  background: linear-gradient(rgba(0,150,250,0.9), rgba(0,150,250,0.9)), url("community engmt 4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  text-shadow: 0px 0px 2px #ffffff;
}

.navbar {
  box-shadow: 0px 0px 10px 2px #000000ad;
}
.nav-link {
  color: white;
  text-align: center;
  transition: .3s;
}
.nav-link:hover {
  color: white;
  box-shadow: 0px 0px 4px 1px #ffffff85;
  text-shadow: 0px 0px 1px white;
}

.navbar-toggler {
  transition: .5s;
  border: 2px solid #ffffff9e;
  color: #f8f8ffe3;
}
.navbar-toggler:hover {
  box-shadow: 0px 0px 4px 2px #ffffff85;
  text-shadow: 0px 0px 2px white;
}

.sidenav .nav-link {
  color: #ffffffba;
  white-space: nowrap;
  transition: .3s;
}
.sidenav .nav-link:hover {
  background-color: #a7a7a766;
  color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #00000057;
  z-index: 1030;
  box-shadow: 0px 0px 10px 2px #000000ad;
  color: lightgray;
  text-shadow: 0px 0px 1px white;
}

.fa, .fab, .fal, .far, .fas {
  font-size: 1.25rem;
}

.btn-outline-light {
  border: none;
}
.btn-outline-light:hover {
  color: white;
  border-radius: 0px;
  background: transparent;
  box-shadow: 0px 0px 4px 1px #ffffff85;
  text-shadow: 0px 0px 1px white;
}

.lrn {
  font-family:'Comfortaa', cursive;
  color: #0096fa;
  font-size: 30px;
  font-weight: bold;
}

.intro {
  font-family:'Comfortaa', cursive;
  font-weight: 600;
  font-size: 20px; 
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.flex-container > .skill {
  height: 150px;
  width: 200px;
  text-align: center;
  position: relative;
}

.jumbotron {
  height: 500px;
  background-image: url("assets/slider_3.png");
  background-size: 600px 500px;
  background-repeat: no-repeat;
  background-color: white;
}

.jumbotron > div {
  padding: 3em;
}

.content {
  position: absolute;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  height: 20%;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 90%;
}

.skill {
  background-size: cover;
  border-radius: 10px;
  height: 300px;
  width: 200px;
}

/* WHY UPSKILL SECTION */
.custom {
  padding-top: 83px;
}
.versatile {
  padding-top: 83px;
}
.user {
  padding-top: 100px;
}
.cost {
  padding-top: 83px;
}
#disc {
  text-align: right; 
  padding-top: 170px;
}
#disc-2 {
  text-align: left; 
  padding-top: 170px;
}

/*for medium-sized phones */
@media only screen and (max-width: 414px) {
  .row > #hero {
    display: none;
  }
  .row > #hero-sub {
    width: 100%;
    align-content: center;
  }
  .jumbotron {
    background-image: none;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .v2-eye {
    display: none;
  }
  #disc {
    width: 50%;
    padding-top: 10%;
    text-align: left;
  }
  #disc-2 {
    width: 50%;
    padding-top: 10%;
    text-align: left;
  }
  .custom {
    padding-top: 0%;
  }
  .versatile {
    padding-top: 0%;
  }
  .user {
    padding-top: 0%;
  }
  .cost {
    padding-top: 0%;
  }
  
}
/* for tablets*/
@media only screen and (max-width: 768px) and (min-width:  768px) {
  .row > #hero-sub {
    width: 100%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron {
    background-image: none;
  }
  .row > #hero {
    display: none;
  }
  .v2-eye {
    width: 400px;
    height: 100%;
  }
  #disc {
    width: 20%;
    padding-top: 10%;
  }
  #disc-2 {
    width: 20%;
    padding-top: 10%;
  }
  .custom {
    padding-top: 0%;
  }
  .versatile {
    padding-top: 0%;
  }
  .user {
    padding-top: 0%;
  }
  .cost {
    padding-top: 0%;
  }
}
/* for larger screen tablets */
@media only screen and (max-width: 1024px) {
  .jumbotron {
    background-size: 500px 500px;
  }
  .custom {
    padding-top: 20%;
  }
  .versatile {
    padding-top: 30%;
  }
  .user {
    padding-top: 25%;
  }
  .cost {
    padding-top: 25%;
  }
}
/* for XL landscape size */
@media only screen and (max-width: 823px) {
  .jumbotron {
    background-size: 400px 400px;
    height: 400px;
  }
  .jumbotron > div {
    padding: 0em;
  }

}

/* for pixel2 landscape */
@media only screen and (max-width: 823px) {
  .row > #hero-sub {
    width: 100%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
  }
  .jumbotron {
    background-image: none;
  }
  .row > #hero {
    display: none;
  }
  .v2-eye {
    width: 400px;
    height: 100%;
  }
  #disc {
    width: 20%;
    padding-top: 10%;
  }
  #disc-2 {
    width: 20%;
    padding-top: 10%;
  }
  .custom {
    padding-top: 0%;
  }
  .versatile {
    padding-top: 0%;
  }
  .user {
    padding-top: 0%;
  }
  .cost {
    padding-top: 0%;
  }
}
